@model User
@{
    ViewData["Title"] = "Verfiy";
    Layout ="~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/otp.css" />
</head>
<body>
    <form asp-action="VerifyEmail" asp-controller="Register" method="post">
        <h2>Enter OTP</h2>
        <input type="text" name="otp" maxlength="6" placeholder="Enter OTP" required>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
