@model List<History>
@{
    ViewData["Title"] = "History";
    Layout = "~/Views/Dashboard/Dashboard.cshtml";
}
<div class="container">
    <h1>History</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Date</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transactionGroup in Model.GroupBy(h => h.TransactionId))
            {
                var transactionTotal = transactionGroup.Sum(h => h.Quantity * h.Price);
                <tr>
                    <td>@transactionGroup.Key</td>
                    <td>@transactionGroup.First().date</td>
                    <td>₹@transactionTotal</td>
                    <td><a href="@Url.Action("ViewTransaction", "Dashboard", new { transactionId = transactionGroup.Key })">View Details</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
