@model List<History>
@{
    ViewData["Title"] = "History";
    Layout = "~/Views/Dashboard/Dashboard.cshtml";
}
<div class="container">
    <h1>History</h1>
    <table class="table">
        <thead>
            <tr>
                <th>S.no</th>
                <th>Date</th>
                <th>Transactiion</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.sno</td>
                    <td>@item.date</td>
                    <td>@item.TransactionId</td>
                    <td>₹@(item.Quantity*item.Price)</td>
                </tr>
            }
        </tbody>
    </table>