@model List<History>
@{
    ViewData["Title"] = "Transaction Details";
    Layout = "~/Views/Dashboard/Dashboard.cshtml";
}

<div class="container">
    <h1>Transaction Details</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ItemName</td>
                    <td>@item.Quantity</td>
                    <td>₹@item.Price</td>
                    <td>₹@(item.Quantity * item.Price)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
