@{
    ViewData["Title"] = "Verify";
}

<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/otp.css" />
</head>
<body>
    <form asp-action="VerifyEmail" asp-controller="Authentication" method="post">
        <h2>Enter OTP</h2>
        @if (TempData["OtpAlertMessage"] != null)
        {
            <div class="alert alert-danger alert-dismissible">
                @TempData["OtpAlertMessage"]
                <button class="btn-close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <input type="text" name="otp" maxlength="6" placeholder="Enter OTP" required>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
