@model User
@{
    ViewData["Title"] = "Register";
}

<form class="border bg-outline-primary" method="post" asp-action="RegisterUser" asp-controller="Register">
    <div class="cotainer mt-4 mb-4 p-3">
            <h1 class="text-center">Registration</h1>
        <div class="row mb-4">
            <div class="form-group col">
                <label asp-for="Name"><strong>Username</strong></label>
                <input asp-for="Name" type="text" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-4">
            <div class="form-group col">
                <label asp-for="Email"><strong>Email</strong></label>
                <input asp-for="Email" type="email" class="form-control"  />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-4">
            <div class="form-group col">
                <label asp-for="Password" class="text-dark"><strong>Password</strong></label>
                <input asp-for="Password" type="password" class="form-control"  />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-4">
            <div class="form-group col">
                <label><strong>Confirm Password</strong></label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
            <div class="text-center pt-4">
                <button type="submit" class="btn btn-outline-danger" value="Register">Register</button>
            </div>
        </div>
    </div>
</form>
