body{
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  form{
    background: #9D50BB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6E48AA, #9D50BB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6E48AA, #9D50BB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    min-height:200px;
    width: 400px;
    border:1px solid #808080;
    padding:30px;
    color:white;
  }
  form div{
    padding:5px;
  }
  