html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;

}
.navbar{
  background-color: #111315;
}
.nav-link{
  font-size: 1.2rem;
}
.nav-item{
  border-radius: 10px;
  transition:300ms;
}
.nav-item:hover{
  background-color: #808080;
  border-radius: 10px;
}
.navbar-brand{
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  background-image: linear-gradient(to right, #4ca2cd, #67B26F);
  background-clip: text;
  color: transparent;
}
.navbar-brand:hover{
  background-image: linear-gradient(to right, #4ca2cd, #67B26F);
  background-clip: text;
  color: transparent;
}